#imagePlayer{height:100%;width: 71.3rem;margin: 0 auto;position: relative;}
#imageFrame{height: 24.3rem;width:50.6rem;margin: 2.7rem auto 0;box-shadow: 2px 2px 9px 0 #424141 }
#imageFrame{position: relative;overflow: hidden}
#imageFrame .pice{width: 100%;height: 100%;position: absolute}
#imageFrameCtrl{width: 6rem;padding: 0;margin: .8rem auto 0;overflow: hidden}
#imageFrameCtrl li{float: left; list-style: none;width: 16.6%;text-align: center;line-height: 1.6rem;}
#imageFrameCtrl li span{width: .5rem;height: .5rem;background: #4d4d4d;border-radius: .5rem;display: block;transition:all .3s ease}
#imageFrameCtrl li:hover span{;background: #fff ;  cursor: pointer;}
#imageFrameCtrl .active span{background: #fff }
#switchPrv,#switchNxt{transition:all .3s ease;position: absolute;top:14rem;width: 2rem;height:2rem;background-size:cover;border-radius: 1rem;}
#switchPrv:hover,#switchNxt:hover{box-shadow: 0 0 15px #202020;cursor: pointer;}
#switchNxt{background-image: url("../img/ui/l.png");right: 5rem}
#switchPrv{background-image: url("../img/ui/r.png");left: 5rem}
.col-4{float: left;width: 25%;box-sizing: border-box;height: 3.3rem;}
.col-4 .raw-2{padding:0;margin:0;float: left;width: 100%;box-sizing: border-box;height: 1.6rem;font-size: .83rem;line-height: 1.66rem;}
.col-4{padding: 0 4.1rem;}
.col-4:nth-child(1){padding-left: 0;}
.col-4 .raw-2{border-right: 1px solid #202020}
.col-4:nth-child(2){padding-left: 0;}
.col-4:nth-child(3){padding: 0 4rem 0 0;}
.col-4:nth-child(3) .raw-2{  border:none;}
.col-4:nth-child(4){padding-right: .1rem;padding-left: 3rem;line-height: 3.3rem}
#btn-baoming{width: 100%;
    line-height: 2.3rem;
    height: 2.3rem;
    display: block;
    text-align: center;
    border: 1px solid #202020;
    margin-top: .3rem;
    border-radius: 5px;
    letter-spacing: .3rem;
    transition: all .5s ease;
}
#btn-baoming:hover{
    color:#fff;
    background: #202020;
    cursor: pointer;

}