@import "base.css";
@import "font.css";
@import "../iconfonts/iconfont.css";
html{
  font-family: "Microsoft YaHei","Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size:12px;
}
div,nav,li{
  //border: 1px dashed grey;
  box-sizing: border-box;
}
body{
  padding: 0;margin: 0;
  overflow-x: hidden;
}

#head{
  height: 11.5rem;
  position: relative;
  @keyframes wave-left {
    0%{transform: rotate(-1deg);}
    50%{transform: rotate(6deg);}
    100%{transform: rotate(-1deg);}
  }
  @keyframes wave-right {
    0%{transform: rotate(1deg);}
    50%{transform: rotate(-6deg);}
    100%{transform: rotate(1deg);}
  }
  #leafTopLeft{
    left: 0;
    animation:wave-left 3s infinite ease-in-out;
    transform-origin: top left;
  }
  #leafTopRight{
    right: 0;
    transform-origin: top right;
    animation:wave-right 4s infinite ease-in-out ;
  }
  .leaf{
    position: absolute;top: 0;
    height:5.7rem;
  }
  #slogan{
    height: 8.8rem;
    width: 84rem;
    margin: 0 auto;
    padding-left: 17.3rem;
    position: relative;
    p{
      line-height: 2rem;
      font-size: 1.2rem;
      color: #666;
    }
    #logo{
      width: 14rem;
      left: 0;
      top: .5rem;
      position: absolute;
      z-index: 9;
    }
    .left{
      padding: 1.3rem 0;
      height: 8.8rem;
      .sorry{
        font-size: 2.3rem;
        font-family: 'sorry';
        color: #000;
        letter-spacing: .1rem;
        transform: scaleY(0.8);
        line-height: 2.4rem;
      }
      float: left;
      p{
        line-height: 2rem;
      }
    }
    .right{
      float: right;
      height: 100%;
      padding: 3rem 0;
      &>span{
        color:#999;
      }
      .pink-phone{
        color: #fd5b89;
        font-family: "big_noodle_titling";
        font-size: 2rem;
        margin-right: 1.5rem;
        letter-spacing: .1rem;
      }
        .icon{
          font-size:2rem;
          color: #a9a6a6;
          transition:all .5s ease;
          margin-left: 1.2rem;
          &:hover{
            color: #fd5b89;
            cursor: pointer;
          }
          &:nth-child(1){
            font-size:1.5rem;
          }
      }
    }
  }
  nav{
    height: 3.1rem;
    width: 100%;
    background-color: #f9f9f9;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #999;
    #navFrame{
      height: 3.1rem;
      width: 84rem;
      margin: 0 auto;
      padding-left: 17.3rem;
      #navList{
        height: 3.1rem;
        $menuCount:8;
          li{
            width: 1/$menuCount * 100%;
            float: left;
            line-height: 3.1rem;
            @for $i from 0 through $menuCount{
              @if $i<($menuCount/2){
                &:nth-child(#{$i+1}){
                  padding-left: $i*.5%;
                  text-align: left;
                }
              }

              @if $i>=($menuCount/2){
                &:nth-child(#{$i+1}){
                  padding-right: ($menuCount - $i - 1)*1%;
                  text-align: right;
                }
              }

            }
            a{
              color: #7e7e7e;
              &:hover,&.active{
                color: #e53d61;
                text-shadow: 0 0 20px #e53d61;
              }
              transition:all .5s ease;
              cursor: pointer;
              display: inline-block;
              height: 100%;
            }
          }
      }
    }

  }
}
#neck{
  height: 41.5rem;
}
#body{
  height: 31.6rem;
  background-color: #fdf2f2;
  @keyframes wave-mid {
    0%{transform: scaleY(1) scaleX(1);}
    50%{transform: scaleY(.95) scaleX(1.02);}
    100%{transform: scaleY(1) scaleX(1);}
  }
  .imgFrame{
    height: 100%;
    width: 84rem;
    margin: 0 auto;
    padding: 5.1rem 0 2.6rem 0;
    //border: 1px solid grey;
    .headImgBox{
      position:relative;
      &:nth-child(1){left:-3rem}
      &:nth-child(2){left:-1rem}
      &:nth-child(3){right:-1rem}
      &:nth-child(4){right:-3rem}
      width: 25%;
      height: 100%;
      //border:1px solid grey;
      box-sizing: border-box;
      float: left;
      &:hover .headImg{
        box-shadow: 0 0 20px -3px #e53d61;
      }
      .headImg{

        width: 15rem;
        height: 15rem;
        border-radius: 15rem;
        margin: 0 auto;
        background-size: cover;
        position: relative;
        transition: all 1s ease;
        .wrap{
          position: absolute;
          bottom: -1.9rem;
          width: 104%;
          left: -2.5%;
          transform-origin: center 80%;
          animation: wave-mid 4s infinite ease-in-out ;
        }

      }
      p{
        text-align: center;
        font-size: 1.5rem;
        color:#4b4b57;
        &:nth-child(2){
          font-size: 1.3rem;
          padding:3rem 0 1rem;
          line-height: 1.2;
          height: 2.6rem;
        }
        &:nth-child(3){
          font-size: 1.2rem;
          font-style: italic;
        }
      }
    }
  }
}
#foot{
  height: 19.8rem;
  background-color: #4b4b57;
  position: relative;
  @keyframes wave-left {
    0%{transform: rotate(-1deg);}
    50%{transform: rotate(3deg);}
    100%{transform: rotate(-1deg);}
  }
  @keyframes wave-right {
    0%{transform: rotate(1deg);}
    50%{transform: rotate(-3deg);}
    100%{transform: rotate(1deg);}
  }
  #leafBottomLeft{
    left: 0;
    animation:wave-left 4s infinite ease-in-out;
    transform-origin: 20% 20%;
    height:7.4rem;

  }
  #leafBottomRight{
    right: 0;
    transform-origin: 80% 20%;
    animation:wave-right 3s infinite ease-in-out ;
    height:8.4rem;
  }
  .leaf{
    position: absolute;top: -3rem;
  }
  .content{
    width: 84rem;
    margin: 0 auto;
    height:100%;
    .one,.two{
      color:#fff;
      text-shadow: 0 1px #000;
      width: 25%;
      float: left;
      margin: 6.4rem 3.8rem 0 0;
      padding-right: 3.8rem;
      border-right: 1px solid;
      .pink-phone{
        line-height: 3rem;
        font-family: "big_noodle_titling";
        font-size: 2.5rem;
        margin-right: 1.5rem;
        letter-spacing: .1rem;
      }
    }
    .two{
      width: auto;
    }
    .two p{
      height: 2.1rem;
      line-height: 2.1rem;
    }
    .three{
      margin: 6.4rem 3.8rem 0 0;
      float: left;
      .qr{
        width: 6.5rem;
        float: left;
        margin-right: 2.2rem;
        &:nth-child(3){
          margin-right: 0;
        }
        & img{
          height: 6.5rem;
        }
        & p{
          color: #fff;
          text-align:center;
          text-shadow: 0 1px #000;
        }
      }
    }
    .four{
      margin: 3.8rem 0 0 0;
      float: right;
      width: 9.5rem;
      img{
        width: 100%;
        cursor: pointer;
      }
      img:hover{
        transition: .5s cubic-bezier(0.42, 0, 0.43, 4.26) all;
        transform: scale(1.2);
      }
    }
  }
}
#tail{
  height: 3.7rem;
  background-color: #1f2634;
  p{
    line-height: 3.7rem;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 1px #000;
  }
}